extends layout

block content
  div.page-header
    h1.header #{building.name}: #{building.meters.length} Meters
  div.row
    table.table.table-striped
      thead
        tr
          th Name
          th Utility
          th Readings
      each meter in building.meters
        tr
          td= meter.name
          td= meter.utility
          td
            a(href='/chart/readings/#{building._id}/#{meter._id}', rel='popover') Readings
            
  #chart
            
block append scripts
  != js('meters')