script(src="http://code.highcharts.com/highcharts.js", type="text/javascript")
script(src="http://code.highcharts.com/modules/exporting.js", type="text/javascript")
script(src="http://www.highcharts.com/highslide/highslide-full.min.js", type="text/javascript")
script(src="http://www.highcharts.com/highslide/highslide.config.js", type="text/javascript")
link(rel="stylesheet", type="text/css", href="http://www.highcharts.com/highslide/highslide.css")

div.page-header
  h1.header #{building_name}.#{meter_name}: #{readings.length} Readings
div(id="graphArea", style="min-width: 400px; height: 400px; margin: 0 auto;")

script
  var createGraph = function(target, options, data) {
    var graph = new Highcharts.Chart({
      chart: {
        renderTo: target,
        zoomType: 'x',
        type: options.type
      },
      title: {
        text: options.title
      },
      xAxis: {
        type: 'datetime',
        maxZoom: 15 * 60 * 1000
      },
      yAxis: { 
        title: { 
          text: options.yAxis.title 
        } 
      },
      series: [{
        pointStart: #{chart_start},
        pointInterval: 15 * 60 * 1000,
        data: data
      }]
    });
  };
  
  $(document).ready(function() {
    var chart_target = 'graphArea';
    var chart_data = [ #{kWs} ];
    var chart_categories = [ #{timestamps} ];    
    var chart_options = {
      type: 'line',
      title: 'Meter Readings (kW)',
      yAxis: { title: 'kW' },
      xAxis: { categories: chart_categories }
    };
    createGraph(chart_target, chart_options, chart_data);
  });
